.container-fluid {
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0.8rem;
}

.navbar {
    padding: 0rem 0rem 1rem;
}

.text-color{
    color: aliceblue;
}
.brand{
    color: rgb(231, 152, 55);
}

.text-color:hover{
    color: rgb(7, 144, 144);
}

.nav-link:focus{
    color: rgb(225, 16, 16);
}

.nav-item{
    margin: 0px 20px;
    font-size: 25px;
}

.nav-space{
    display: inline-flex;
    justify-content: center;
}

.navbar-toggler-icon{
    background-color: rgba(150, 143, 100, 0.815);
    border-radius: 10px;
}